doctype html
html
  head
    meta(charset='utf-8')
    title Thermostat
    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../public/js/Thermostat.js
      include ../public/js/interface.js
  body
    h1 Current city temperature: #[span#current-city-temperature] °C
    h1 Thermostat temperature: #[span#temperature] °C
    h3 Energy Usage: #[span#energy-usage]
    h3 Power Saving Mode: #[span#power-saving-mode-info]
    div
      input#up-button(
        type="submit"
        value="Up"
      )
      input#down-button(
        type="submit"
        value="down"
      )
    div
      input#power-saving-mode-button(
        type="submit"
        value="Power Saving Mode"
      )
      input#reset-button(
        type="submit"
        value="Reset"
      )
    section
      form#select-city
        input#current-city(
          type="text"
          placeholder="Enter a city"
        )
        input(type="submit")
